
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SpaceWorldGraph-primary: mat-palette($mat-indigo);
$SpaceWorldGraph-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SpaceWorldGraph-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$SpaceWorldGraph-theme: mat-light-theme($SpaceWorldGraph-primary, $SpaceWorldGraph-accent, $SpaceWorldGraph-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SpaceWorldGraph-theme);

/* You can add global styles to this file, and also import other style files */

@import "assets/css/w3.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mobileShow {display: none;}
.desktopShow {display: block;}

@media only screen
and (min-width : 0px)
and (max-width : 600px){ 
    .mobileShow {display: block;}
    .desktopShow {display: none;}
}

.Background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(00, 00, 00, 0.6);
    z-index: 1060;
    text-align: center;
}
ng2-smart-table tbody > tr > td{
    word-break: break-word;
}
img.icon{
    width: 50px;
    height: 50px
}
img[src=null]{
    display: none;
}
mat-slider {
    width: 87%;
}
.mat-option{
    height: 30px !important;
}

table tbody{
    font-weight: 500 !important;
}
.input-sm{
    height: 25px !important;
    box-shadow: 0px 0px 6px #b3b3b3;
    margin-bottom: 5px !important;
}
.select-sm{
    padding: 0px 10px !important;
}
// .modal-backdrop {
//     position: relative !important;
// }
.fa-refresh{
    cursor: pointer;
  }
.det-modal-body{
    height: 505px !important;
    overflow: auto;
    // background: #5396d0;
}
.text-bold{
    font-weight: 500 !important;
    color : #28c1f4;
}
.mat-button, .mat-stroked-button{
    background: white !important;
}
.mat-icon{
    color: white !important;
}
.empLocMappClass table thead{
    background-color : #28c1f4 !important;
  }
ng2-smart-table .ng2-smart-action-delete-delete,
ng2-smart-table .ng2-smart-action-edit-edit,
ng2-smart-table .ng2-smart-action-custom-custom {
    padding:3px;
    // color:black !important;
    color: #28c1f4 !important;
    font-weight: 500;
    border: 1px solid #28c1f4;
    border-radius: 3px;
    font-size:12px;
    margin-right: 5px
}
mat-tab-group.max-content-width .mat-tab-body-wrapper{
    width: max-content !important;
}
.mat-tab-group, .mat-expansion-panel-content{
    font-family: inherit;
}
ul.item2{
    position: relative;
}
.table-data-div{
    padding:0px !important;
}
.info{
    cursor: pointer;
}
.multiselect-dropdown{
    background-color: white;
    border-radius : 10px;
}

.multiselect-dropdown .dropdown-btn {
    padding: 0px 12px !important;
    box-shadow: 0px 0px 6px #b3b3b3;
    margin-bottom: 5px !important;
}

.multiselect-dropdown .selected-item{
    max-width: 195px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
input[type="file"]{
    font-size: xx-small;
}
.tom-border-radius{
    padding: 0px .75rem !important;
}

.multiselect-dropdown .selected-item{
    color: black !important;
    background: transparent !important;
    border: transparent !important;
}

.multiselect-dropdown .selected-item :hover{
    border: none !important;
}

ng2-smart-table .ng2-smart-action-delete-delete:hover,
ng2-smart-table .ng2-smart-action-edit-edit:hover,
ng2-smart-table .ng2-smart-action-custom-custom:hover{
    text-decoration: none !important;
    background: #f28f05;
    color:white !important;
}
// .multiselect-dropdown .dropdown-list{
//     position: fixed !important;
//     width : 14% !important;
// }
ng2-smart-table .ng2-smart-pagination-nav > ul > li > a,.mat-expansion-panel-header-title {
    color:#28c1f4 !important;
}
ng2-smart-table .page-item.active .page-link {
    color: #fff !important;
    background-color: #f28f05 !important;
    border-color: #28c1f4 !important;
}

div.page-header{
    background: #5396d0;
}
.mat-expansion-panel-header{
    height: 40px !important;
}
.mat-expansion-panel{
    overflow: unset !important;
}
.modal-dialog {
    margin: 0.75rem auto !important;
}
.example-chip-list {
    width: 100%;
  }
mat-chip{
    background: #fff !important;
    border : 1px solid #28c1f4 !important;
    color: #28c1f4 !important;
}
.mat-tab-label{
    height: 40px !important;
}
.mat-tab-label-container{
    background: #28c1f4;
}
.mat-tab-label .mat-tab-label-content{
    // color: #28c1f4 !important;
    color: white !important;
}
.modal-title{
    color: #28c1f4 !important;
}
.mat-tab-label-active{
    background: #f28f05 !important;
    // border-radius: 10px;
    border-radius: 10px 10px 0px 0px;
}
// .mat-tab-label-active .mat-tab-label-content{
//     color: white !important;
// }
mat-tab-body{
    padding: 5px;
}
.cdk-overlay-container {
    z-index: 9999 !important;
}
.ng-dirty{
    color: black !important;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.example_spacer{
    flex: 1 1 auto;
}
.mat-drawer-content, .mat-drawer-container{
    z-index: unset !important;
}

.mat-tab-header-pagination-chevron{
    height: 16px !important;
    width: 16px !important;
    border-color : #f28f05 !important;
    border-width: 3px 3px 0 0 !important; 
}

